*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}

section{
    height: 90vh;
}

section#intro{
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#intro img{
    height: 15rem;
    border-radius: 100%;
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.lista-proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.detalle-proyectos{
    border: 5px solid darkgreen;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.detalle-proyectos button{
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

.detalle-proyectos img{
    width: 100%;
    padding: 2rem;
}

.detalle-proyectos h3{
    font-family: 'Raleway';
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 20px;
}

header{
    position: sticky;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: lightseagreen;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul button{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

.lista-datos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detalle-datos{
    border: 5px solid darkgreen;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
    padding: 25px;
}

.detalle-datos h3{
    font-size: x-large;
    text-align: center;
    font-family: 'Raleway';
    text-decoration: underline;
}

.detalle-datos li{
    font-size: 20px;
}
section#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

legend{
    font-family: 'Raleway';
    font-size: larger;
    font-weight: bolder;
}

fieldset{
    padding: 10px;
}

label{
    padding: 10px;
}

input{
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
}

#boton-enviar{
    display: flex;
    flex-direction: row-reverse;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: lightseagreen;
}

@media only screen and (max-width: 1500px){

    section#proyectos{
        height: 170vh;
        display: flex;
        flex-direction: column;
    }

    section#contacto{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media only screen and (max-width: 1000px){

    section#proyectos{
        height: 160vh;
        display: flex;
        flex-direction: column;
    }
    
    section#info{
        height: 170vh;
    }
    
    section#contacto{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 700px){
    
    section#proyectos{
        height: 290vh;
        display: flex;
        flex-direction: column;
    }

    section#info{
        height: 260vh;
        display: flex;
        flex-direction: column;
    }

    .lista-datos{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    section#contacto{        
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }    
}

@media only screen and (max-width: 600px){

    section#proyectos{
        height: 340vh;
        display: flex;
        flex-direction: column;
    }

    section#info{
        height: 150vh;
    }

    section#contacto{
        height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
